
<div ng-controller="GroupsCtrl as grpCtrl">
    

    <div id="divAddGroup" >
        <form name="GroupForm" ng-submit="GroupForm.$valid && addGroup(group)">

            <h3>Add Group</h3>

            <p>Total Groups: {{TotalItems}}</p>

            <div class="form-group">
                <label for="GroupName">Group Name</label>
                <input type="text" class="form-control" id="GroupName" ng-model="group.GroupName" placeholder="Group Name" required />

            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" ng-model="group.Description" placeholder="Description" required />

            </div>


            <div class="form-group">
                <label for="JoinLastDay">Join Last Day</label>
                <input type="date" class="form-control" id="JoinLastDay" ng-model="group.JoinLastDay" placeholder="Join Last Day" required />

            </div>

            <div class="form-group">
                <label for="PayLastDay">Pay Last Day</label>
                <input type="date" class="form-control" id="PayLastDay" ng-model="group.PayLastDay" placeholder="Pay Last Day" required />

            </div>

            <div class="form-group">
                <label for="FirstDayOfActivity">First Day Of Activity</label>
                <input type="date" class="form-control" id="FirstDayOfActivity" ng-model="group.FirstDayOfActivity" placeholder="First Day Of Activity" required />

            </div>

            <div class="form-group">
                <label for="GroupMaxSize">Group Max Size</label>
                <input type="number" class="form-control" id="GroupMaxSize" ng-model="group.GroupMaxSize" placeholder="Group Max Size" required />

            </div>



            <div class="form-group">

                <input type="submit" value="Submit" />

                <!--ng-click="addGroup(group)"-->
                <!--<button class="btn" ng-click="addOrganisation()"><span></span>Add</button>-->
                <!--<input type="submit" ng-click="update(user)" value="Save" />-->

            </div>
        </form>
    </div>
        
</div>

