

<div >
    <a href="#" class="btn btn-primary btn-sm active">Add Group</a>
</div><!-- /.col -->



<div ng-controller="GroupsCtrl as grpCtrl">
    
   





    <div id="divAddGroup">
        <form name="GroupForm" ng-submit="GroupForm.$valid && addGroup(group)">

            <h3>Add Group</h3>

            <p>Total Groups: {{TotalItems}}</p>

            <div class="form-group">
                <label for="GroupName">Group Name</label>
                <input type="text" class="form-control" id="GroupName" ng-model="group.GroupName" placeholder="Group Name" required />

            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" ng-model="group.Description" placeholder="Description" required />

            </div>


            <div class="form-group">
                <label for="JoinLastDay">Join Last Day</label>
                <input type="date" class="form-control" id="JoinLastDay" ng-model="group.JoinLastDay" placeholder="Join Last Day" required />

            </div>

            <div class="form-group">
                <label for="PayLastDay">Pay Last Day</label>
                <input type="date" class="form-control" id="PayLastDay" ng-model="group.PayLastDay" placeholder="Pay Last Day" required />

            </div>

            <div class="form-group">
                <label for="FirstDayOfActivity">First Day Of Activity</label>
                <input type="date" class="form-control" id="FirstDayOfActivity" ng-model="group.FirstDayOfActivity" placeholder="First Day Of Activity" required />

            </div>

            <div class="form-group">
                <label for="GroupMaxSize">Group Max Size</label>
                <input type="number" class="form-control" id="GroupMaxSize" ng-model="group.GroupMaxSize" placeholder="Group Max Size" required />

            </div>



            <div class="form-group">

                <input type="submit" value="Submit" />

                <!--ng-click="addGroup(group)"-->
                <!--<button class="btn" ng-click="addOrganisation()"><span></span>Add</button>-->
                <!--<input type="submit" ng-click="update(user)" value="Save" />-->

            </div>
        </form>
    </div>
    <div id="divGroups">
       
            <div class="row">

                <div class="col-xs-4">
                    <label for="search">Search:</label>
                    <input ng-model="search.query" id="search" class="form-control" placeholder="Filter text">
                </div>
                <div class="col-xs-4">
                    <label for="ddlSort">Order by:</label>
                    <select id="ddlSort" class="form-control" ng-model="sortBy">
                        <option value="None">-- Select --</option>

                        <option value="GroupName">Group Name</option>
                        <option value="FirstDayOfActivity">First Day Of Activity</option>

                    </select>
                </div>
                <div class="col-xs-4">
                    <label for="search">items per page:</label>
                    <select id="ddlPageSize" class="form-control" ng-change="" ng-model="pageSize">
                        <option>
                            5
                        </option>
                        <option>
                            10
                        </option>
                        <option>
                            15
                        </option>
                        <option>
                            20
                        </option>

                        <option>
                            25
                        </option>
                        <option>
                            30
                        </option>
                        <option>
                            35
                        </option>
                        <option>
                            40
                        </option>
                    </select>

                </div>
            </div>
        <br />

            <div ng-repeat="group in groupsList | filter:{GroupName: search.query } | orderBy:sortBy  | pagination: curPage * pageSize | limitTo: pageSize">  <!--| filter:{name: search.name, phone: search.phone}">     -->
               
                <div class="col-md-4">
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">{{group.GroupName}}</h3>
                            <h5 class="widget-user-desc">{{group.Description}}</h5>
                            <strong>Event Date:</strong> {{group.FirstDayOfActivity | date:'medium'}}



                        </div>
                        <div class="widget-user-image">
                            <!--<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">-->
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">
                                            <span title="Number attending">{{group.Joined}}</span><!--GroupMembersCount-->
                                        </h5>
                                        <span class="description-text">JOINED</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->

                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header"><span title="Max Allowed">{{group.GroupMaxSize}}</span></h5>
                                        <span class="description-text">MAX</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">{{group.GroupMembersPaid}}</h5>
                                        <span class="description-text">PAID</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->

                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="/Account/Register?GroupId={{group.Id}}" class="btn btn-primary btn-sm active">Add Member</a>
                                </div><!-- /.col -->
                            </div><!-- /.row -->

                        </div>
                        
                    </div>
                    </
                </div>


                


            </div>



        

           
    </div>
    <!-- pager -->
    <br />
    <!--<ul ng-if="pager.pages.length" class="pagination">
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
            <a ng-click="setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>-->

    <!-- pager -->
    <div class="pagination pagination-centered" ng-show="groupsList.length">
        <ul class="pagination-controle pagination">
            <li>
                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                        ng-click="curPage=curPage-1">
                    &lt; PREV
                </button>
            </li>
            <li>
                <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
            </li>
            <!--ng-class="{active:pager.currentPage === page}"-->
            <li ng-repeat="page in pages" ng-class="{active:curPage === page}" >
                <a ng-click="curPage = curPage+1">{{page}}</a>
            </li>
            <li>
                <button type="button" class="btn btn-primary"
                        ng-disabled="curPage >= groupsList.length/pageSize - 1"
                        ng-click="curPage = curPage+1">
                    NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <!-- pager end -->
    
</div>

