

<div class="row">
    
    <a href="/#/groups" class="btn btn-primary btn-sm active" id="aAddGroup">
        <span class="glyphicon glyphicon-plus"></span>
        Add Group
    </a>
</div>
<br />
<div class="row">
    <div ng-controller="GroupsCtrl as grpCtrl">

        <div class="row">

            <div class="col-xs-4">
                <label for="search">Search:</label>
                <input ng-model="search.query" id="search" ng-change="filter()" class="form-control" placeholder="Search for...">
            </div>


            <div class="col-xs-4">
                <label for="ddlSort">Order by:</label>
                <select id="ddlSort" class="form-control" ng-model="sortBy">
                    <option value="None">-- Select --</option>

                    <option value="GroupName">Group name A-Z</option>
                    <option value="GroupName">Group name Z-A</option>
                    <option value="FirstDayOfActivity">First Day Of Activity</option>
                </select>
            </div>

            <div class="col-xs-4">
                <label for="search">items per page:</label>
                <select id="ddlPageSize" class="form-control" ng-change="setPage(0)" ng-model="itemsPerPage">
                    <option value="5" ng-selected="true">5</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                </select>

            </div>


            <!--<div class="col-xs-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Items per page:</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" >5</a></li>
                        <li><a href="">10</a></li>
                        <li><a href="">15</a></li>
                        <li><a href="">20</a></li>
                        <li><a href="#">25</a></li>
                    </ul>
                </div>
            </div>-->
            <!-- <div class="col-xs-4">
                 <div class="btn-group">
                     <button type="button" class="btn btn-default">SORT BY:</button>
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="caret"></span>
                         <span class="sr-only">Toggle Dropdown</span>
                     </button>
                     <ul class="dropdown-menu">
                         <li><a href="">Group name A-Z</a></li>
                         <li><a href="">Group name Z-A</a></li>
                         <li><a href="">Join Date Asc</a></li>

                         <li><a href="">Join Date Desc</a></li>
                     </ul>
                 </div>
             </div>-->





        </div>
        <br />

        <div ng-repeat="group in groupsFilteredList | filter:{GroupName: search.query } | orderBy:sortBy  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage ">
            <!--| filter:{name: search.name, phone: search.phone}">     -->

            <div class="col-md-4">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username">{{group.GroupName}}</h3>
                        <h5 class="widget-user-desc">{{group.Description}}</h5>
                        <strong>Event Date:</strong> {{group.FirstDayOfActivity | date:'medium'}}



                    </div>
                    <div class="widget-user-image">
                        <!--<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">-->
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        <span title="Number attending">{{group.Joined}}</span><!--GroupMembersCount-->
                                    </h5>
                                    <span class="description-text">JOINED</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->

                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header"><span title="Max Allowed">{{group.GroupMaxSize}}</span></h5>
                                    <span class="description-text">MAX</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">{{group.GroupMembersPaid}}</h5>
                                    <span class="description-text">PAID</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->

                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Account/Register?GroupId={{group.Id}}" class="btn btn-primary btn-sm active">Add Member</a>
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                    </div>

                </div>
               
            </div>

        </div>

        <!-- pager -->
        <br />
        <div>
            <ul class="pagination">
                <li ng-class="prevPageDisabled()">
                    <a href="" aria-label="First" ng-click="firstPage()">First </a>

                </li>
                <li ng-class="prevPageDisabled()">
                    <a href="" ng-click="prevPage()">
                        <span aria-hidden="true">&laquo;</span>
                        Prev
                    </a>
                </li>
                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href="">{{n+1}}</a>
                </li>
                <li ng-class="nextPageDisabled()">
                    <a href="" ng-click="nextPage()">
                        Next
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li ng-class="{disabled:currentPage === 1}">
                    <a href="" aria-label="Last" ng-click="lastPage()">
                        Last
                    </a>
                </li>

            </ul>
        </div>


        <!-- pager end -->

    </div>

</div>